
#app
  .screen-wrapper
    .main
      .block2

        .table1
          position: relative;
          width: 100%;
          height: 100%;
          background: none

          > h2
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            line-height: 50px;
            background: url("../images/title-bg.png") center bottom no-repeat;
            -webkit-background-size: 100% 100%
            background-size: 100% 50%

          .per-count
            .pc-item
              display block
              padding-left: 50px
              padding-top: 10px
              padding-bottom: 10px

              .pci-num
                display block

              .pci-title
                display block

          .bg-title-none
            background: none


        .table3
          position: relative;
          width: 100%;
          height: 100%;

          .bg-title-none
            background: none

          span
            font-size: 16px

          > h2
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            line-height: 50px;
            -webkit-background-size: 100% 100%
            background-size: 100% 50%
            background: url(../images/title-bg.png) center bottom no-repeat;


          span
            font-size: 12px

            &:nth-child(4)
              line-height: 1.5

          .per-count
            .pc-item
              display block
              padding-left: 50px
              padding-top: 10px
              padding-bottom: 10px

              .pci-num
                display block


              .pci-title
                display block


          .s-table
            overflow visible
            display inline-block
            width: 455px;
            vertical-align top

            .bin-table-small
              td
                height: 30px


          .chart-title
            position absolute
            right 122px
            top 70px
            font-size: 16px
            color #fff
            background-color: #161b41
            display block
            width 160px
            text-align center
            margin 0 auto
            line-height: 30px



