body {
  line-height: 1.5;
}
#app {
  height: 100%;
  font-size: 14px;
  color: #fff;
}
#app .screen-wrapper .v-header {
  position: relative;
  width: 100%;
  height: 96px;
  background: url("../images/header-bg.png") no-repeat 0 0;
}
#app .screen-wrapper .v-header .label {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -420px;
  letter-spacing: 25px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  width: 840px;
  text-align: center;
  font-size: 36px;
  color: #4bdbff;
}
#app .screen-wrapper .v-header .btn {
  position: absolute;
  top: 30px;
  left: 524px;
}
#app .screen-wrapper .v-header .btn a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background: url("../images/menubg1-1.png") no-repeat 0 0;
  width: 255px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 17px;
  color: #0cf;
  cursor: pointer;
}
#app .screen-wrapper .v-header .btn a.active {
  color: #fff;
  background: url("../images/menubg1-2.png") no-repeat 0 0;
}
#app .screen-wrapper .v-header .btn a:nth-child(4) {
  position: relative;
  left: 1260px;
}
#app .screen-wrapper .v-header .btn a:nth-child(5) {
  position: relative;
  left: 1260px;
}
#app .screen-wrapper .v-header .date {
  position: absolute;
  top: 54px;
  right: 345px;
  font-size: 18px;
  color: #0278b9;
}
#app .screen-wrapper .v-block {
  position: absolute;
  padding: 10px 20px;
  border: 1px solid #293f53;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(26,58,99,0.5) inset;
  background-color: rgba(19,33,63,0.2);
  margin-bottom: 20px;
  color: #8fa0cd;
}
#app .screen-wrapper .v-block .header {
  padding: 8px;
  text-align: center;
  font-size: 18px;
  color: #d7edfd;
  font-weight: bold;
}
#app .screen-wrapper .v-block .angle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-color: #15e9f2;
  border-style: solid;
}
#app .screen-wrapper .v-block .angle.top-left {
  top: 0;
  left: 0;
  margin-top: -1px;
  margin-left: -1px;
  border-top-left-radius: 5px;
  border-top-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-block .angle.top-right {
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
  border-top-right-radius: 5px;
  border-top-width: 1px;
  border-right-width: 1px;
}
#app .screen-wrapper .v-block .angle.bottom-left {
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  margin-left: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-block .angle.bottom-right {
  bottom: 0;
  right: 0;
  margin-bottom: -1px;
  margin-right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
#app .screen-wrapper .v-full-block {
  transition: 0.2s;
}
#app .screen-wrapper .v-select {
  position: relative;
  display: block;
  padding: 0 5px;
  width: auto;
  cursor: pointer;
}
#app .screen-wrapper .v-select .select .iconfont {
  font-size: 18px;
  color: #0cf;
  transition: 0.35s;
  transform: rotateZ(180deg);
}
#app .screen-wrapper .v-select .select .iconfont.show {
  transform: rotateZ(0deg);
}
#app .screen-wrapper .v-select .options {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 690px;
  padding: 20px 10px 10px 20px;
  background-color: #192648;
  z-index: 2000;
}
#app .screen-wrapper .v-select .options .item {
  display: inline-block;
  background-color: #303b5a;
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  width: 210px;
  margin: 0 10px 10px 0;
}
#app .screen-wrapper .v-select .options .item.active {
  background-color: #1985d2;
}
#app .screen-wrapper .v-chart-bar .item {
  margin-bottom: 2px;
}
#app .screen-wrapper .v-chart-bar .item .index {
  width: 30px;
  padding-top: 12px;
}
#app .screen-wrapper .v-chart-bar .item .legend {
  font-size: 12px;
  padding-right: 60px;
}
#app .screen-wrapper .v-modal {
  background-color: #060c22;
  border: 1px solid #586ea2;
  border-radius: 5px;
  height: 100%;
}
#app .screen-wrapper .v-modal .top-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  padding: 4px 20px;
  background-color: #00addd;
  border-radius: 19px;
  white-space: nowrap;
}
#app .screen-wrapper .v-modal .content {
  overflow: hidden;
}
#app .screen-wrapper .v-modal .icon-ios-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  cursor: pointer;
}
#app .screen-wrapper .v-modal .angle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: #15e9f2;
  border-style: solid;
}
#app .screen-wrapper .v-modal .angle.top-left {
  top: 0;
  left: 0;
  margin-top: -1px;
  margin-left: -1px;
  border-top-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-modal .angle.top-right {
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
  border-top-width: 1px;
  border-right-width: 1px;
}
#app .screen-wrapper .v-modal .angle.bottom-left {
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  margin-left: -1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-modal .angle.bottom-right {
  bottom: 0;
  right: 0;
  margin-bottom: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  user-select: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.t-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-justify {
  text-align: justify;
  -ms-text-align-last: justify;
  text-align-last: justify;
}
.t-center {
  text-align: center;
}
.o-hide {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.font12 {
  font-size: 12px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.fontB700 {
  font-weight: 700;
}
.fff {
  color: #fff;
}
.blue1 {
  color: #00aeff;
}
.blue2 {
  color: #0cf;
}
.mb20 {
  margin-bottom: 20px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb5 {
  margin-bottom: 5px;
}
.mr20 {
  margin-right: 20px;
}
.mr10 {
  margin-right: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.w33 {
  width: 32%;
}
.w5 {
  width: 49%;
}
.pr10px {
  padding-right: 10px;
}
#app .screen-wrapper .v-header .date {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  width: 400px;
  right: 345px;
  line-height: 26px;
}
#app .screen-wrapper .v-header .date::before {
  margin-right: 10px;
  content: '';
  display: inline-block;
  background-image: url("../images/clock_tip.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: top;
}
#app .screen-wrapper .v-block .header {
  font-size: 24px;
  color: #02bced;
  background-image: url("../images/title-bg-1.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  transform: translateY(-10px);
}
.bin-table {
  background-color: rgba(7,10,32,0.22);
}
.bin-table th,
.bin-table td {
  color: #fff;
  background-color: transparent;
}
.bin-table-wrapper {
  border-top: 1px solid #181e3c;
  border-left: 1px solid #181e3c;
}
.bin-table:after,
.bin-table:before {
  display: none;
}
.bin-table-border td,
.bin-table-border th {
  border-right: 1px solid #181e3c;
  border-bottom: 1px solid #181e3c;
}
.bin-table-overflowX {
  overflow-x: hidden;
}
.bin-table-cell {
  padding: 4px 8px;
}
.bin-tooltip,
.bin-tooltip-rel {
  display: block;
}
.bin-scrollbar__bar.is-vertical {
  background-color: #283956;
}
.bin-scrollbar__thumb {
  background-color: #1985d2;
}
.bin-modal-mask {
  background-color: rgba(12,23,40,0.61);
}
.bin-drawer-wrapper .drawer-box {
  background: #051425;
}
.bin-drawer-wrapper .drawer-box .header {
  border-bottom: none;
  padding: 0;
}
.bin-drawer-wrapper .drawer-box .header .recommend-header {
  position: relative;
  width: 1920px;
  height: 110px;
  line-height: 110px;
  font-size: 28px;
  color: #0cf;
  background: url("../images/header.png") no-repeat 0 0;
  text-align: center;
}
.bin-drawer-wrapper .drawer-box .header .recommend-header img {
  position: absolute;
  top: 26px;
  right: 4px;
}
.bin-drawer-wrapper .drawer-box .body {
  height: 100%;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content {
  width: 1700px;
  height: 767px;
  margin: 40px auto;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .left {
  width: 280px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .left .item {
  background-color: #182338;
  color: #fff;
  font-size: 20px;
  padding: 25px 40px;
  margin-bottom: 10px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .left .item.active {
  background-color: #1985d2;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right {
  width: 1400px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner {
  width: 1350px;
  padding-bottom: 100px;
  background-color: #182338;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box {
  padding: 0 30px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box > h2 {
  position: relative;
  line-height: 40px;
  padding: 30px 0 30px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box > h2:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 44px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #0cf;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box .section {
  font-size: 16px;
  color: #7181a6;
  line-height: 2em;
  padding: 0 50px 0 20px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box .section p {
  text-indent: 2.5em;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box .img {
  width: 100%;
  text-align: center;
}
i {
  font-style: normal;
}
#app .screen-wrapper {
  user-select: none;
  width: 3840px;
  height: 1080px;
  background: #02061a;
}
#app .screen-wrapper .main {
  position: relative;
  height: calc(100% - 96px);
  padding: 20px 40px;
}
#app .screen-wrapper .main .block1-1 {
  height: 850px;
}
#app .screen-wrapper .main .block1-1 .table1 {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .screen-wrapper .main .block1-1 .table1 > h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 50px;
  background: url("../images/title-bg.png") center bottom no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 50%;
}
#app .screen-wrapper .main .block1-1 .table1 .per-count {
  padding-left: 30px;
}
#app .screen-wrapper .main .block1-1 .table1 .per-count .pc-item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
#app .screen-wrapper .main .block1-1 .table1 .per-count .pc-item .inner {
  display: inline-block;
}
#app .screen-wrapper .main .block1-1 .table1 .per-count .pc-item .inner .inner-img {
  height: 40px;
  width: 40px;
  margin: 0 5px;
}
#app .screen-wrapper .main .block1-1 .table1 .per-count .pc-item .inner .pci-num {
  display: block;
}
#app .screen-wrapper .main .block1-1 .table1 .per-count .pc-item .inner .pci-title {
  display: block;
}
#app .screen-wrapper .main .block1-1 .table2 > h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 50px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 50%;
}
#app .screen-wrapper .main .block1-1 .table2 .per-count .pc-item {
  display: block;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#app .screen-wrapper .main .block1-1 .table2 .per-count .pc-item .pci-num {
  display: block;
}
#app .screen-wrapper .main .block1-1 .table2 .per-count .pc-item .pci-title {
  display: block;
}
#app .screen-wrapper .main .block1-2 .table1 {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .screen-wrapper .main .block1-2 .table1 > h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 50px;
  background: url("../images/title-bg.png") center bottom no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 50%;
}
#app .screen-wrapper .main .block1-2 .table1 .per-count .pc-item {
  display: block;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#app .screen-wrapper .main .block1-2 .table1 .per-count .pc-item .pci-num {
  display: block;
}
#app .screen-wrapper .main .block1-2 .table1 .per-count .pc-item .pci-title {
  display: block;
}
#app .screen-wrapper .main .block1-2 .table3 {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .screen-wrapper .main .block1-2 .table3 > h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 50px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 50%;
  background: url("../images/title-bg.png") center bottom no-repeat;
}
#app .screen-wrapper .main .block1-2 .table3 span {
  font-size: 12px;
}
#app .screen-wrapper .main .block1-2 .table3 .per-count .pc-item {
  display: block;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#app .screen-wrapper .main .block1-2 .table3 .per-count .pc-item .pci-num {
  display: block;
}
#app .screen-wrapper .main .block1-2 .table3 .per-count .pc-item .pci-title {
  display: block;
}
#app .screen-wrapper .main .block1-2 .table3 .s-table {
  overflow: visible;
  display: inline-block;
  width: 455px;
  vertical-align: top;
}
#app .screen-wrapper .main .block1-2 .table3 .s-table .bin-table-small td {
  height: 30px;
}
#app .screen-wrapper .main .block1-2 .table3 .chart-title {
  position: absolute;
  right: 122px;
  top: 70px;
  font-size: 16px;
  color: #fff;
  background-color: #161b41;
  display: block;
  width: 160px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
}
#app .bin-scrollbar__wrap {
  overflow-x: hidden;
}
.bgc0f1432 {
  background-color: #0f1432;
}
#app .screen-wrapper .main .block1-1 .table1 .bg-title-none,
#app .screen-wrapper .main .block1-1 .table3 .bg-title-none {
  background: none;
}
#app .screen-wrapper .main .block1-2 .table1 .bg-title-none,
#app .screen-wrapper .main .block1-2 .table3 .bg-title-none {
  background: none;
}
.chart-t {
  width: 45%;
  display: inline-block;
  text-align: center;
}
.bg-foot {
  background: url("../images/foot.png") center bottom no-repeat;
}
.chart-inline {
  vertical-align: top;
  display: inline-block;
}
#app .screen-wrapper .v-full-block .more {
  z-index: 10;
}
thead tr::after {
  content: '';
}
.bin-table-row {
  position: relative;
}
.bin-table-row::after {
  content: '';
}
tr.bin-table-row-hover::after {
  position: absolute;
  right: -25px;
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url("../images/tip001.png");
  background-repeat: no-repeat;
}
.bin-table .bin-table-row-highlight::after {
  position: absolute;
  right: -25px;
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url("../images/tip001.png");
  background-repeat: no-repeat;
}
.t-style1 .bin-table-header .bin-table-column-center {
  background-color: #0f1432;
  height: 60px;
}
.t-style1 .bin-table-row .bin-table-column-center {
  background-color: #192648;
  height: 60px;
}
.t-style1 .bin-table-row .bin-table-column-center:first-child {
  background-color: #0f1432;
}
.chart-container {
  margin: 0 auto;
  width: 690px;
  position: relative;
}
.chart-container .t-tip3 {
  position: absolute;
  left: -80px;
  top: calc(50% - 110px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #121943;
  border-top: 6px solid #161f57;
  padding: 10px 30px;
  width: 24px;
  box-sizing: content-box;
  color: #0cf;
}
.chart-container .t-tip4 {
  color: #0cf;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: -20px;
  width: 400px;
  left: calc(50% - 185px);
}
.chart-container .t-tip4 .tt-inner {
  text-align: center;
  background-color: #121943;
  width: 150px;
  height: 40px;
  line-height: 40px;
}
.chart-container .innerTips .t-tip1 {
  position: absolute;
  left: -80px;
  top: calc(50% - 110px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #121943;
  border-top: 6px solid #161f57;
  padding: 10px 30px;
  width: 24px;
  box-sizing: content-box;
  color: #0cf;
}
.chart-container .innerTips .t-tip2 {
  color: #0cf;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: -20px;
  width: 400px;
  left: calc(50% - 200px);
}
.chart-container .innerTips .t-tip2 .tt-inner {
  text-align: center;
  background-color: #121943;
  width: 150px;
  height: 40px;
  line-height: 40px;
}
.chart-container .innerTips .left1 {
  left: -12px;
  width: 300px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  bottom: -30px;
}
.chart-container .innerTips .left2 {
  left: 450px;
  width: 300px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  bottom: -30px;
}
.chart-container #barChart2 {
  width: 310px;
  height: 350px;
}
.chart-container #barChart3 {
  width: 260px;
  height: 350px;
}
.chart-container #barChart4 {
  width: 280px;
  height: 350px;
}
.chart-container #barChart5 {
  width: 295px;
  height: 350px;
  margin-left: -68px;
}
.chart-container #barChart6 {
  width: 280px;
  height: 680px;
}
.chart-container #barChart7 {
  width: 295px;
  height: 680px;
  margin-left: -10px;
}
.chart-container .chart-tip {
  height: 346px;
  width: 100px;
  padding: 58px 10px 24px;
  display: flex;
  flex-flow: column;
}
.chart-container .chart-tip .ci-item {
  background-color: #0e132d;
  padding-top: 6px;
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #8fa0cd;
  border-right: 1px solid #303857;
  border-left: 1px solid #303857;
  position: relative;
}
.chart-container .chart-tip .ci-item::after {
  bottom: 0;
  content: '';
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #303857;
  height: 1px;
  display: block;
  position: absolute;
}
.chart-container .chart-tip .ci-item:last-child::after {
  height: 0;
}
.t-style2 .s-table .bin-table-header .bin-table-column-center {
  background-color: #0f1432;
  color: #454e6f;
}
.t-style2 .s-table .bin-table-row .bin-table-column-center {
  background-color: #192648;
  color: #fff;
}
.t-style2 .s-table .bin-table-row:hover .bin-table-column-center {
  background-color: #0f36ac;
}
.t-style2 .s-table .bin-table-row-highlight .bin-table-column-center {
  background-color: #0f36ac;
}
.special1 .bin-table-wrapper .bin-table-header .bin-table-column-center {
  background-color: #0f1432;
  height: 65px;
}
.special2 .bin-table-wrapper .bin-table-header .bin-table-column-center {
  background-color: #0f1432;
  height: 60px;
}
.t-style3 .bin-table-header .bin-table-column-center {
  background-color: #0f1432;
  height: 60px;
}
.t-style3 .bin-table-row .bin-table-column-center {
  background-color: #192648;
  height: 60px;
}
.t-style3 .bin-table-row .bin-table-column-center:first-child {
  background-color: #0f1432;
}
.cp-btn {
  position: absolute;
  right: 30px;
  top: 5px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #0f1432;
  color: #1293f9;
  font-weight: 700;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  font-size: 16px;
}
.cp-btn:nth-child(2) {
  right: 125px;
}
.cp-btn:nth-child(3) {
  right: 234px;
}
.stat-img {
  height: 15px;
  margin-right: 5px;
  vertical-align: text-top;
}
#lineChart2 {
  width: 400px;
  height: 330px;
  float: right;
  margin-top: 60px;
}
#lineChart3 {
  width: 400px;
  height: 320px;
  float: right;
  margin-top: 60px;
}
.add {
  position: absolute;
  bottom: -2px;
  line-height: 26px;
  text-indent: 0.5em;
}
.t-style2 .s-table .bin-table-header .bin-table-column-center {
  color: #fff;
}
.bin-table table {
  font-size: 16px;
}
.table3 .bin-table table {
  font-size: 16px;
  line-height: 1;
}
#app .screen-wrapper .main .block1-2 .table3 span {
  font-size: 16px;
}
#app .screen-wrapper .main .block1-2 .table3 span:nth-child(4) {
  line-height: 1.5;
}
.t-tip-toggle {
  position: absolute;
  right: -30px;
  top: 5px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #0f1432;
  color: #1293f9;
  font-weight: 700;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  font-size: 16px;
  z-index: 20;
}
.chart-container .innerTips .t-tip2 .tt-inner {
  font-size: 18px;
  background-color: transparent;
}
.chart-container .innerTips .left1 {
  overflow: visible;
}
.chart-container .innerTips .left2 {
  overflow: visible;
}
