@import "./common/base.styl"
@import "./common/bin-ui.styl"
[debug-border] {
  box-shadow: 0 0 0 1px #2d8cf0;
}
#app {
  .screen-wrapper {
    user-select: none;
    width: 3840px;
    height: 1080px;
    background: #02061a;
    .main {
      position: relative;
      height: calc(100% - 96px);
      padding: 20px 40px;
      .top-h2 {
        position: relative;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        color: #01c1f3;
        text-align: center;
        z-index: 500;
        background: url("../images/title2-bg-389.png") center bottom no-repeat;
        &.big {
          background: url("../images/title3-bg-441.png") center bottom no-repeat;
        }
        &.no-bg {
          background: none;
        }
        span {
          position: absolute;
          bottom: 8px;
          right: 0;
          padding: 4px 15px;
          background: #0d1335;
          color: #2a7ad1;
          cursor: pointer;
          font-size: 12px;
          border-radius: 30px;
        }
      }
      .v-block .dipan {
        background: url("../images/foot2-bg.png") center bottom no-repeat;
      }
      .block3-1, .block3-2, .block3-3, .block3-4, .block3-5, .block3-6, .block3-7, .block3-8 {
        width: 445px;
        padding: 0 30px 20px;
      }
      .block3-5, .block3-6, .block3-7, .block3-8 {
        width: 445px;
        padding: 0 2px 20px;
      }
      .block3-1 {
        .border {
          border: 1px solid #182547;
          padding 10px 10px 20px;
          background-color: rgba(7, 10, 32, 0.62);
        }
        span {
          display: inline-block;
        }
        .number span {
          color: #00adfe;
          font-size: 32px;
          line-height: 36px;
          display: inline-block;
          padding: 2px 6px;
          margin-right: 2px;
          background-color #232e4c;
        }
        .num {
          padding: 10px 0 0 5px;
          font-size: 16px;
        }
        .item {
          display: inline-block;
          text-align: center;
          vertical-align: top;
          padding: 0 10px;
          height: 80px;
          padding-top: 15px;
          background-color: #0f1432;
          &:first-child {
            padding-top: 0;
            line-height: 1.2em;
          }
          img {
            width: 25px;
          }
          &.icon {
            position: relative;
            height: 80px;
            text-align: left;
            padding-left: 80px;
            &:before {
              content: ''
              position: absolute;
              left: 20px;
              top: 20px;
              width: 40px;
              height: 40px;
              background-color #303b5a;
              border-radius: 50%;
            }
          }
          p {
            line-height: 1.5em;
          }
        }
        .chart {
          padding-top: 6px;
          p {
            font-size: 12px;
            line-height: 1.5em;
            color: #eee;
            span > i {
              display: inline-block;
              width: 8px;
              height: 8px;
              background-color: #394760;
              margin: 0 4px;
            }
          }
          > div {
            padding-right: 10px;
          }
        }
      }
      .block3-2 {
        .bin-table .bin-table-header th {
          color: #3a4d71;
          padding: 9px 0;
        }
      }
      .block3-6 {
        .bin-table {
          background-color: #0e132e;
        }
      }
      .block3-9, .block3-10 {
        width: 100%;
        height: 100%;
      }
      .block3-9 {
        .top {
          padding: 15px 0;
          background-color: #0f1432;
          span {
            color: #fff;
            text-align: center;
          }
        }
        .base-core {
          position: absolute;
          top: 272px;
          left: 0;
          color: #fff;
          padding: 2px;
          font-size: 14px;
        }
        .base-core-line {
          position: absolute;
          top: 276px;
          left: 45px;
          width: 45px;
          font-size: 12px;
          text-align: right;
          padding-right: 15px;
          &:after {
            content: ''
            position: absolute;
            right: 0;
            bottom: 6px;
            width: 8px;
            height: 1px;
            background-color: #3d5075;
          }
        }
        .block-level {
          ul {
            border: 1px solid #3d5075;
            width: 60%;
            margin: 0 auto;
            li {
              display: flex;
              height: 44px;
              line-height: 44px;
              box-sizing: border-box;
              border-bottom: 1px solid #303a60;
              &:last-child {
                border-bottom: none;
              }
              > div {
                text-align: center;
                height: 100%;
                flex: 1;
                &:first-child {
                  width: 70px;
                  flex: 0 0 70px;
                  background-color: #0e132d;
                  color: #7e83bd;
                  border-right: 1px solid #303a60;
                }
                &:last-child {
                  padding-top: 8px;
                  background-color rgba(0, 0, 0, 0.2);
                  .bin-rate .bin-rate__icon {
                    font-size: 24px;
                    margin-right: 4px;
                  }
                }
              }
            }
          }
        }
      }
      .block3-11 {
        h2 {
          position: relative;
          padding: 10px;
          color: #01c1f3;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          span {
            position: absolute;
            bottom: 8px;
            right: 0;
            padding: 4px 15px;
            background: #0d1335;
            color: #2a7ad1;
            cursor: pointer;
            font-size: 12px;
            border-radius: 30px;
          }
        }
        .bin-table th {
          color: #3a4d71;
        }
        .bin-table-cell {
          padding: 4px;
          font-size: 12px;
        }
      }
      .map-block {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #2b334f;
        background rgba(14, 19, 47, 0.8);
        h2 {
          position: relative;
          padding: 10px;
          color: #01c1f3;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          span {
            position: absolute;
            bottom: 5px;
            right: 0;
            padding: 4px 15px;
            background: #0d1335;
            color: #2a7ad1;
            cursor: pointer;
            font-size: 12px;
            border-radius: 30px;
          }
        }
        .icon-ios-close {
          position: absolute;
          top: 0;
          right: 0;
          color: #999;
          font-size: 38px;
          cursor: pointer;
        }
        .chart {
          padding: 0 30px 10px;
          .left {
            width: 250px;
            p {
              line-height: 30px;
              color: #fff;
              span:first-child {
                color: #7e83bd;
              }
            }
          }
        }
      }
    }
  }
}

#app .bin-scrollbar__wrap {
  overflow-x: hidden;
}


.table-highlight {
  .bin-table-row {
    .bin-table-cell {
      color #fff
    }

    &:hover {
      td {
        background-color: #0f36ac;
        cursor: pointer;
      }
    }
  }

  .bin-table-row-highlight {
    .bin-table-cell {
      color: #01c1f3
    }
  }
}


.bin-tooltip-light.bin-tooltip-popper, .bin-tooltip-popper {
  white-space: nowrap;
  min-width: 200px;
}
  //字体增大
#app .screen-wrapper .main .block3-11 .bin-table-cell{
  font-size:15px
}
#app .screen-wrapper .main .block3-11 h2{
  font-size:20px
}
//覆盖bin-ui样式 调亮表格内文字颜色
.t-style2 .s-table .bin-table-header .bin-table-column-center{
  color #8fa0cd
}
#app .screen-wrapper .main .block3-2 .bin-table .bin-table-header th{
  color #8fa0cd
}
#app .screen-wrapper .main .block3-11 .bin-table th{
  color #8fa0cd
}
.street-icon{
  vertical-align middle
  margin-right 10px
  width 30px
}
.count-perc{
  flex-direction column
  position absolute
  right 0
  top 0
  .cp-item{
    width 40px
  }
}
#app .screen-wrapper .main .block3-9 .top{
	padding-left:5px;
}
#app .screen-wrapper .main .top-h2{
  color #FFFFFF
}
#app .screen-wrapper .main .block3-11 h2{
  color #FFFFFF
}
#app .screen-wrapper .v-block .header{
  font-size:24px
  color #02bced
  background-image: url(../images/title-bg-1.png)
  background-repeat: no-repeat
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  transform: translateY(-10px);
}
#app .screen-wrapper .main .block3-9 .block-level .level-container{
  width: 300px
  position: absolute;
  left: 90px;
}
#app .screen-wrapper .main .block3-9 .block-level ul li > div:nth-child(2){
  padding-top: 13px;
  background-color: rgba(0,0,0,0.2);
}
#app .screen-wrapper .main .block3-9 .block-level .level-container li .count{
  width 50px
  flex .6
  border-left: 1px solid #3d5075
  background-color: rgba(0,0,0,0.2);
  color #FFFFFF
}
#app .screen-wrapper .main .block3-9 .block-level .level-container li .perc{
  padding-top:0
  width 50px
  flex .4
  border-left: 1px solid #3d5075
  color #FFFFFF
}
#app .screen-wrapper .main .block3-9 .block-level ul li > div:first-child {
  width: 70px;
  flex: 0 0 50px;
}
.bin-table table{
  font-size:16px
}
#app .screen-wrapper .main .map-block .chart .left {
  font-size: 16px;
}

