body {
  line-height: 1.5;
}
#app {
  height: 100%;
  font-size: 14px;
  color: #fff;
}
#app .screen-wrapper .v-header {
  position: relative;
  width: 100%;
  height: 96px;
  background: url("../images/header-bg.png") no-repeat 0 0;
}
#app .screen-wrapper .v-header .label {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -420px;
  letter-spacing: 25px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  width: 840px;
  text-align: center;
  font-size: 36px;
  color: #4bdbff;
}
#app .screen-wrapper .v-header .btn {
  position: absolute;
  top: 30px;
  left: 524px;
}
#app .screen-wrapper .v-header .btn a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background: url("../images/menubg1-1.png") no-repeat 0 0;
  width: 255px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 17px;
  color: #0cf;
  cursor: pointer;
}
#app .screen-wrapper .v-header .btn a.active {
  color: #fff;
  background: url("../images/menubg1-2.png") no-repeat 0 0;
}
#app .screen-wrapper .v-header .btn a:nth-child(4) {
  position: relative;
  left: 1260px;
}
#app .screen-wrapper .v-header .btn a:nth-child(5) {
  position: relative;
  left: 1260px;
}
#app .screen-wrapper .v-header .date {
  position: absolute;
  top: 54px;
  right: 345px;
  font-size: 18px;
  color: #0278b9;
}
#app .screen-wrapper .v-block {
  position: absolute;
  padding: 10px 20px;
  border: 1px solid #293f53;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(26,58,99,0.5) inset;
  background-color: rgba(19,33,63,0.2);
  margin-bottom: 20px;
  color: #8fa0cd;
}
#app .screen-wrapper .v-block .header {
  padding: 8px;
  text-align: center;
  font-size: 18px;
  color: #d7edfd;
  font-weight: bold;
}
#app .screen-wrapper .v-block .angle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-color: #15e9f2;
  border-style: solid;
}
#app .screen-wrapper .v-block .angle.top-left {
  top: 0;
  left: 0;
  margin-top: -1px;
  margin-left: -1px;
  border-top-left-radius: 5px;
  border-top-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-block .angle.top-right {
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
  border-top-right-radius: 5px;
  border-top-width: 1px;
  border-right-width: 1px;
}
#app .screen-wrapper .v-block .angle.bottom-left {
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  margin-left: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-block .angle.bottom-right {
  bottom: 0;
  right: 0;
  margin-bottom: -1px;
  margin-right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
#app .screen-wrapper .v-full-block {
  transition: 0.2s;
}
#app .screen-wrapper .v-select {
  position: relative;
  display: block;
  padding: 0 5px;
  width: auto;
  cursor: pointer;
}
#app .screen-wrapper .v-select .select .iconfont {
  font-size: 18px;
  color: #0cf;
  transition: 0.35s;
  transform: rotateZ(180deg);
}
#app .screen-wrapper .v-select .select .iconfont.show {
  transform: rotateZ(0deg);
}
#app .screen-wrapper .v-select .options {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 690px;
  padding: 20px 10px 10px 20px;
  background-color: #192648;
  z-index: 2000;
}
#app .screen-wrapper .v-select .options .item {
  display: inline-block;
  background-color: #303b5a;
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  width: 210px;
  margin: 0 10px 10px 0;
}
#app .screen-wrapper .v-select .options .item.active {
  background-color: #1985d2;
}
#app .screen-wrapper .v-chart-bar .item {
  margin-bottom: 2px;
}
#app .screen-wrapper .v-chart-bar .item .index {
  width: 30px;
  padding-top: 12px;
}
#app .screen-wrapper .v-chart-bar .item .legend {
  font-size: 12px;
  padding-right: 60px;
}
#app .screen-wrapper .v-modal {
  background-color: #060c22;
  border: 1px solid #586ea2;
  border-radius: 5px;
  height: 100%;
}
#app .screen-wrapper .v-modal .top-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  padding: 4px 20px;
  background-color: #00addd;
  border-radius: 19px;
  white-space: nowrap;
}
#app .screen-wrapper .v-modal .content {
  overflow: hidden;
}
#app .screen-wrapper .v-modal .icon-ios-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  cursor: pointer;
}
#app .screen-wrapper .v-modal .angle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: #15e9f2;
  border-style: solid;
}
#app .screen-wrapper .v-modal .angle.top-left {
  top: 0;
  left: 0;
  margin-top: -1px;
  margin-left: -1px;
  border-top-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-modal .angle.top-right {
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
  border-top-width: 1px;
  border-right-width: 1px;
}
#app .screen-wrapper .v-modal .angle.bottom-left {
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  margin-left: -1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
#app .screen-wrapper .v-modal .angle.bottom-right {
  bottom: 0;
  right: 0;
  margin-bottom: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  user-select: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.t-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-justify {
  text-align: justify;
  -ms-text-align-last: justify;
  text-align-last: justify;
}
.t-center {
  text-align: center;
}
.o-hide {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.font12 {
  font-size: 12px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.fontB700 {
  font-weight: 700;
}
.fff {
  color: #fff;
}
.blue1 {
  color: #00aeff;
}
.blue2 {
  color: #0cf;
}
.mb20 {
  margin-bottom: 20px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb5 {
  margin-bottom: 5px;
}
.mr20 {
  margin-right: 20px;
}
.mr10 {
  margin-right: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.w33 {
  width: 32%;
}
.w5 {
  width: 49%;
}
.pr10px {
  padding-right: 10px;
}
#app .screen-wrapper .v-header .date {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  width: 400px;
  right: 345px;
  line-height: 26px;
}
#app .screen-wrapper .v-header .date::before {
  margin-right: 10px;
  content: '';
  display: inline-block;
  background-image: url("../images/clock_tip.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: top;
}
#app .screen-wrapper .v-block .header {
  font-size: 24px;
  color: #02bced;
  background-image: url("../images/title-bg-1.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  transform: translateY(-10px);
}
.bin-table {
  background-color: rgba(7,10,32,0.22);
}
.bin-table th,
.bin-table td {
  color: #fff;
  background-color: transparent;
}
.bin-table-wrapper {
  border-top: 1px solid #181e3c;
  border-left: 1px solid #181e3c;
}
.bin-table:after,
.bin-table:before {
  display: none;
}
.bin-table-border td,
.bin-table-border th {
  border-right: 1px solid #181e3c;
  border-bottom: 1px solid #181e3c;
}
.bin-table-overflowX {
  overflow-x: hidden;
}
.bin-table-cell {
  padding: 4px 8px;
}
.bin-tooltip,
.bin-tooltip-rel {
  display: block;
}
.bin-scrollbar__bar.is-vertical {
  background-color: #283956;
}
.bin-scrollbar__thumb {
  background-color: #1985d2;
}
.bin-modal-mask {
  background-color: rgba(12,23,40,0.61);
}
.bin-drawer-wrapper .drawer-box {
  background: #051425;
}
.bin-drawer-wrapper .drawer-box .header {
  border-bottom: none;
  padding: 0;
}
.bin-drawer-wrapper .drawer-box .header .recommend-header {
  position: relative;
  width: 1920px;
  height: 110px;
  line-height: 110px;
  font-size: 28px;
  color: #0cf;
  background: url("../images/header.png") no-repeat 0 0;
  text-align: center;
}
.bin-drawer-wrapper .drawer-box .header .recommend-header img {
  position: absolute;
  top: 26px;
  right: 4px;
}
.bin-drawer-wrapper .drawer-box .body {
  height: 100%;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content {
  width: 1700px;
  height: 767px;
  margin: 40px auto;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .left {
  width: 280px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .left .item {
  background-color: #182338;
  color: #fff;
  font-size: 20px;
  padding: 25px 40px;
  margin-bottom: 10px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .left .item.active {
  background-color: #1985d2;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right {
  width: 1400px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner {
  width: 1350px;
  padding-bottom: 100px;
  background-color: #182338;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box {
  padding: 0 30px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box > h2 {
  position: relative;
  line-height: 40px;
  padding: 30px 0 30px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box > h2:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 44px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #0cf;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box .section {
  font-size: 16px;
  color: #7181a6;
  line-height: 2em;
  padding: 0 50px 0 20px;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box .section p {
  text-indent: 2.5em;
}
.bin-drawer-wrapper .drawer-box .body .recommend-content .right .inner .box .img {
  width: 100%;
  text-align: center;
}
#app .screen-wrapper {
  user-select: none;
  width: 3840px;
  height: 1080px;
  background: #02061a;
}
#app .screen-wrapper .main {
  position: relative;
  height: calc(100% - 96px);
  padding: 20px 40px;
}
#app .screen-wrapper .main .more {
  position: absolute;
  bottom: 5px;
  right: 20px;
  padding: 4px 15px;
  background: #0d1335;
  color: #2a7ad1;
  cursor: pointer;
  font-size: 12px;
  border-radius: 30px;
}
#app .screen-wrapper .main .block1-1 .total {
  width: 74px;
  padding-right: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 1.4em;
}
#app .screen-wrapper .main .block1-1 .number span {
  color: #ddd088;
  font-size: 36px;
  line-height: 36px;
  display: inline-block;
  padding: 2px 10px;
  margin-right: 2px;
  background-color: #232e4c;
}
#app .screen-wrapper .main .block1-1 .ren {
  padding: 22px 0 0 5px;
  font-size: 16px;
}
#app .screen-wrapper .main .block1-1 .box {
  width: 208px;
  margin-bottom: 2px;
  padding: 6px 20px;
  background-color: #0f1432;
}
#app .screen-wrapper .main .block1-1 .box h2 {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
}
#app .screen-wrapper .main .block1-1 > h2 {
  text-align: center;
  font-size: 18px;
  color: #d7edfd;
  font-weight: bold;
}
#app .screen-wrapper .main .block1-1 .charts h2 {
  font-size: 16px;
  color: #fff;
  padding-top: 20px;
}
#app .screen-wrapper .main .block1-1 .charts .item {
  line-height: 24px;
}
#app .screen-wrapper .main .block1-1 .charts .item .icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #2d8cf0;
  border-radius: 50%;
  margin-right: 8px;
}
#app .screen-wrapper .main .block1-1 .charts .item .label {
  display: inline-block;
  width: 80px;
}
#app .screen-wrapper .main .block1-2 {
  padding-top: 20px;
}
#app .screen-wrapper .main .block1-2 span {
  display: inline-block;
}
#app .screen-wrapper .main .block1-2 .number span {
  color: #ddd088;
  font-size: 36px;
  line-height: 36px;
  display: inline-block;
  padding: 2px 10px;
  margin-right: 2px;
  background-color: #232e4c;
}
#app .screen-wrapper .main .block1-2 .num {
  padding: 10px 0 0 5px;
  font-size: 16px;
}
#app .screen-wrapper .main .block1-2 .item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  height: 70px;
  line-height: 50px;
  background-color: #0f1432;
}
#app .screen-wrapper .main .block1-2 .item.icon {
  position: relative;
  height: 80px;
  text-align: left;
  padding-left: 80px;
}
#app .screen-wrapper .main .block1-2 .item.icon:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 20px;
  width: 45px;
  height: 45px;
  background-color: #303b5a;
  border-radius: 50%;
  background-image: url("../images/people1.png");
  background-repeat: no-repeat;
  background-position: 2px 2px;
}
#app .screen-wrapper .main .block1-2 .item.icon.icon1:before {
  background-image: url("../images/people1.png");
}
#app .screen-wrapper .main .block1-2 .item.icon.icon2:before {
  background-image: url("../images/people2.png");
}
#app .screen-wrapper .main .block1-2 .item.icon.icon3:before {
  background-image: url("../images/legal1.png");
}
#app .screen-wrapper .main .block1-2 .item.icon.icon4:before {
  background-image: url("../images/legal2.png");
}
#app .screen-wrapper .main .block1-2 .item p {
  line-height: 1.5em;
}
#app .screen-wrapper .main .block1-3 .top2 {
  margin-bottom: 10px;
}
#app .screen-wrapper .main .block1-3 .top2 .item {
  width: 48%;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #192648;
  border-radius: 6px;
  text-align: center;
}
#app .screen-wrapper .main .block1-4 .top2 {
  margin-bottom: 10px;
}
#app .screen-wrapper .main .block1-4 .top2 .item {
  width: 48%;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #192648;
  border-radius: 6px;
  text-align: center;
}
#app .screen-wrapper .main .block1-5 {
  height: 850px;
}
#app .screen-wrapper .main .block1-5 .table1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/level.png") center 80px no-repeat;
}
#app .screen-wrapper .main .block1-5 .table1 .t {
  position: absolute;
  top: 20px;
  background: url("../images/biaoge-bg.png") center 0 no-repeat;
  height: 356px;
  width: 248px;
}
#app .screen-wrapper .main .block1-5 .table1 .t h2 {
  font-weight: bold;
  padding-top: 15px;
}
#app .screen-wrapper .main .block1-5 .table1 .t ul {
  padding-top: 12px;
}
#app .screen-wrapper .main .block1-5 .table1 .t ul li {
  line-height: 36px;
  border-bottom: 1px solid #181e3c;
}
#app .screen-wrapper .main .block1-5 .table1 .t ul li:last-child {
  border-bottom: none;
}
#app .screen-wrapper .main .block1-5 .table1 .t ul li span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
}
#app .screen-wrapper .main .block1-5 .table1 .t ul li span:first-child {
  border-right: 1px solid #181e3c;
}
#app .screen-wrapper .main .block1-5 .table2,
#app .screen-wrapper .main .block1-5 .table3 {
  width: 100%;
  height: 100%;
  padding: 0 80px;
  background: url("../images/foot.png") center bottom no-repeat;
}
#app .screen-wrapper .main .block1-5 .table2 > h2 {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 15px;
  background: url("../images/title-bg.png") center bottom no-repeat;
}
#app .screen-wrapper .main .block1-5 .table3 {
  position: relative;
}
#app .screen-wrapper .main .block1-5 .table3 > h2 {
  position: absolute;
  left: 68px;
  top: 64px;
  height: 280px;
  width: 66px;
  padding: 30px 20px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
  background: url("../images/title2-bg.png") center bottom no-repeat;
}
#app .screen-wrapper .main .block1-6 .top {
  padding: 10px 40px;
  background-color: #0e132f;
  margin-bottom: 15px;
}
#app .screen-wrapper .main .block1-6 .chart > h2 {
  font-size: 16px;
  color: #2d8cf0;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
#app .screen-wrapper .main .block1-6 .left .chart {
  padding: 10px 30px;
  background: url("../images/foot2.png") center bottom no-repeat;
}
#app .screen-wrapper .main .block1-6 .right .lingYu {
  position: relative;
}
#app .screen-wrapper .main .block1-6 .right .bin-table-cell {
  padding: 4px 8px;
}
#app .bin-scrollbar__wrap {
  overflow-x: hidden;
}
.top-content .key-table table {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid #2a406b;
  border-top: 1px solid #2a406b;
}
.top-content .key-table table tr td {
  font-size: 14px;
  padding: 10px 20px;
  border-bottom: 1px solid #2a406b;
  border-right: 1px solid #2a406b;
  color: #fff;
}
.top-content .key-table table tr td.key {
  width: 162px;
  color: #eee;
  background-color: #132950;
}
.top-content .title-info {
  font-size: 20px;
  color: #0cf;
  line-height: 70px;
}
.top-content .info-tab {
  margin-bottom: 20px;
}
.top-content .info-tab span {
  font-size: 14px;
  display: inline-block;
  line-height: 38px;
  width: 148px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 20px;
  background-color: #303b5a;
  transition: 0.3s;
}
.top-content .info-tab span.active {
  background-color: #1985d2;
  color: #fff;
}
.top-content .common-table .el-table th {
  color: #416caf;
}
#app .screen-wrapper .main .block1-5 .table3 > h2.blue2 {
  color: #0cf;
}
#app .screen-wrapper .main .block1-6 .chart > h2.fff {
  color: #fff;
}
#app .screen-wrapper .main .block1-2 .number span {
  font-size: 30px;
}
.bin-table-border td,
.bin-table-border th {
  border-right: 1px solid #283353;
  border-bottom: 1px solid #283353;
}
#app .screen-wrapper .v-block {
  color: #0c94ff;
}
.bin-table table {
  font-size: 16px;
}
.table1 {
  font-size: 16px;
}
.zoom-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 20;
}
