.rc-table .title-bar {
  padding: 15px;
  height: 60px;
  background: url("../images/title-bg.png") center bottom no-repeat;
  -webkit-background-size: 100% 45%;
  background-size: 100% 45%;
  position: relative;
}
.rc-table .title-bar span:nth-child(1) {
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.rc-table .title-bar span:nth-child(2) {
  position: absolute;
  right: -10px;
  font-weight: 400;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  background-color: #0f36ac;
  padding: 0 20px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  top: 0;
  color: #fff;
}
.rc-table .top-bar {
  width: 100%;
  background-color: #0e1432;
}
.rc-table .top-bar img {
  margin: 10px 30px;
  width: 50px;
  height: 50px;
}
.rc-table .top-bar div p:nth-child(1) {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}
.rc-table .top-bar div p:nth-child(2) {
  font-size: 14px;
  color: #02bced;
}
.bin-table-cell {
  padding: 0 8px;
  font-size: 14px;
  line-height: 20px;
}
.bin-table-small td {
  height: 32px;
}
.lv-table table {
  background-color: #0e122e;
}
.lv-table .bin-table-small th {
  height: 72px;
}
.lv-table .bin-table-small td {
  height: 54px;
}
.fund-table table {
  background-color: #0e122e;
}
.fund-table .bin-table-small th {
  height: 72px;
}
.fund-table .bin-table-small td {
  height: 54px;
}
